*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box ;
}
body{
    background-color:#f7f7f7 ;
}
nav{
    display: flex;
    align-items: centre;
    width: 100%;
    justify-content: space-between;
    background: white;
    padding: 5px 3%;
    position:fixed;
    top:0;
    z-index: 100; 
}
.nav-left{
    display: flex;
    align-items:flex-start;
    margin-left: 0px;
}

.logo{
    width: 40px;
    margin-right: 15px;
}
.nav-right{
    display: flex;
    align-items:center;
}
.nav-right ul li{
    list-style:none;
    display: inline-block;
}
.nav-right ul li img{
   
    width: 28px;
    margin: 0 10px;
}
.nav-user-icon img{
    width:30px;
    border-radius: 50%;
    cursor: pointer; 
    
}
.nav-user-icon{
    margin-left: 10px;
}
.menu-box{
    width: 25px;
    border: none;
   margin-right: 30px;
    pointer-events: fill;
    
}
.menu-box button{
    background-color: white;
    border-color: none; 
}

.menu-box img{
    width: 120%;
    text-align: center;
    background-color: #74a4f2;
    padding: 5px 5px;
    border-radius: 25%;
}

.drop-down{
    position: relative;
    border: none;
    
}
.drop-down-content{
    position: absolute;
    width: auto;
    background-color: white;
    opacity: 0;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1) ;

}
.drop-down-content p {
    margin: 10% 10%;

}
.drop-down-content a{
    text-decoration: none;
    color: #050505;
    
}
.drop-down > .sub-menu:focus +.drop-down-content{
    opacity: 1;
    width: fit-content;
    height: fit-content;
}
.sub-menu{
    background-color: white;
    border: none;
    margin-left: 5px;
    border-top-color: white;
}
.sub-menu img{
    border-radius: 50%;
}
.sub-menu:hover{
    background-color: #e7f3ff;
}
.search-box{
    background-color: white;
    width: 100%;
    border: none;
    /*border-radius: 20px;*/
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}
.search-box-row{
    background-color: black;
}
.search-box img{
    margin-left:10px;
    width: 20px;
}
.search-box input{
     width: 400px;
    background-color:#f7f7f7 ;
    padding: 10px;
    border-radius: 15px;
    
}
.online{
    position: relative;
}
.online::after{
    content:'';
    width:7px;
    height:7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background:rgb(103, 235, 103);
    position:absolute;
    top:0;
    right:0;
}




.container{
    flex-basis: 25%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    overflow: scroll;
    position: unset;
     
}




.left-sidebar{
    position: fixed;
    top:50px;
    bottom: 0;
    left:0;
    width: 300px;
    
}

.user-profile-left{
    margin-left:0px;
    margin-top: 15px;
    border-radius: 50%;
    border-color: #1876f2;
    
    }
.user-profile-left img{
    border: radius 150%;
    margin-left: 0px;
}
.pro-pic img{
    border-radius: 50px;
    height: 50%;
    margin-left: 0;  
}

.user-profile-left p{
    font-size:16px;
    text-align: center; 
    
}
.user-profile-left i{
    color: #1876f2;
}
.imp-links{
    height: 100vh;
 }
 .imp-links a img{
    width:45px;
    margin-right:15px;
    margin-left: 20px;
}
.imp-links a{
    padding: 5px 8px;
    text-decoration:none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 550; 
    color:#050505;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
} 
.imp-links p{
    margin-left: 15px;
}
.side-bar{
   margin-left: 10px;
   

}
/*
.shortcut-links{
    width: 40px;
    border-radius: 4px;
    height: auto;
    margin-right: 15px;
   
}
.shortcut-links p{
   margin: 25px 0;
    color: #626262;
    font-weight: 400;
    vertical-align: auto;
}
.shortcut-links a{
    padding:10px;
    text-decoration: none;
    color:black;
    font-weight: 400;
    align-items: center;
    display: flex;
    margin-bottom: 25px;
  
}
.shortcut-links img{
    margin-right:15px ;
    margin-left: 15px;
    border-radius: 5px;
} */

.right-sidebar{
    flex-basis: 20%;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 0;
    
    width: 250px;
    padding: 15px 15px;
    margin-right: 10px;
    border-radius: 4px;
    color: #626262;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: bottom 18px;
    padding-bottom: 10px;

}
.sidebar-title h4{
   font-weight: bold;
   font-size: 16px; 
  

}
.sidebar-title a{
    text-decoration: none;
    color: black;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
    padding-bottom: 4px;
    flex-direction: row;
    

}
.left-event{
    border-radius: 10px;
    height:65px;
    width:65px;
    margin-right:15px;
    padding: top 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #74a4f2;

}
.left-event-top{
    padding-top: 5px;
    padding-bottom: 2px;
    background-color: white;
}
.event p{
    font-size: 12px;
}

.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.left-event span{
    position: static;
    bottom: 0;
    left: 0;
    font-weight:bolder;
    padding:4px 0;
   
}
.sidebar-ads{
    width: 100%;
    border: radius 4px;
}
.Online-list{
    display: flex;
    align-items: center;
    margin: bottom 20px;

}
.Online-list .online img{
    width:40px;
    border-radius: 50%;

}
.Online-list .online{
    width: 40px;
    border: radius 50%;
    margin-right: 15px;

}
.Online-list .online::after{
    top:unset;
    bottom: 5px;
}

.main-content{
    flex-basis: 45%;
    padding-left: 28%;
    margin-right:0 ;
    position: absolute;
    padding-right: 35%;
    padding-top: 100px;
    z-index: 1;
}
.story-gallery{ 
    display:flex;
    justify-content: space-between; 
    margin-bottom: 20px;
    flex-basis:18%;
    padding:10px;;
    background-position: center;
    background-size: cover;
   border-radius: 10px;
    height: unset;
    width: unset;
    }

.story{
    flex-basis: 18%;
    padding-top: 32%; 
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    
}
.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}
.story p{
    position:absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
}
.story:nth-child(1){
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-1.png);

}

.story:nth-child(2){
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-2.png);

}

.story:nth-child(3){
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-3.png);

}
.story:nth-child(4){
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-4.png);

}
.story:nth-child(5){
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-5.png);

}
.story:nth-child(1) img{
    top:unset; 
    left:50%;
    bottom: 40px;
    transform: translateX(-50%);
    border:0;
    width: 35px;
}
.write-post-container{
    width:100%;
    background-color: #fff;
    border-radius:6px ;
    padding:20px;
    color: #626262;
}
.user-profile{
    display:flex;
    align-items: center;
} 
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    font-size: 15px;
    color: #626262;

}
.user-profile spam{
    font-size: 12px;

}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;

}
.post-input-container textarea{
    width:100%;
    border:0;
    outline:0;
    border-bottom:1px solid #ccc; 
    background:transparent;
    resize: none;

}
.add-post-links{
    display: flex;
    margin-top:10px;


}
.add-post-links a{
    text-decoration:none;
    display:flex;
    align-items:center;
    color:#626262;
    margin-right:30px;
    font-size:13px;
}
.add-post-links img{
    width:20px;
    margin-right: 10px;

}
.post-container{
    width:100%;
    background-color: #fff;
    border-radius:6px;
    padding:20px;
    color:#626262;
    margin:20px 0;

}
.user-profile span{
    font-size: 13px;
    color: black; 
}
.post-img{
    width:100%;
    border-radius: 4px;
    margin-bottom: 5px;

}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items:center;
    margin-right: 30px;
}
 .post-profile-icon{
    float:right;
    padding-right:15px ;
}
 .post-profile-icon img{
    
    width:20px;
    border-radius: 50%;
    margin-right: 5px;
   
}

.feeds{
    padding-top: 10px;
    padding-bottom: 5px;
    color: black;
}
.load-more-btn{
    display: block;
    margin:auto;
    cursor:pointer;
    padding:5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background-color: transparent;
    border-radius: 4px;
}
.footer{
    text-align: center;
    color: #9a9a9a;
    padding:10px 0 20px; 
}